h1 {
    color: #1A48D1;
}

h2 {
    color: #314377;
}

h3 {
    color: #6959af;
    margin-top: 60px;
    margin-left: 10px;
}

a {
    color: #0040ff;
}

a:hover {
    background-color: #1A48D1;
    color: white;
}

* p {
    margin-left: 40px;
}

#desc div>p {
    color: #d1152e;
}

#ori div {
    color: #1A48D1;
}

#ori p {
    color: rgb(233, 13, 178);
}

#filler h3~p {
    color: rgb(58, 206, 22);
}