/** general **/
body {
    margin: 5vw;
    font-family: sans-serif;
}

ul {
    margin: 0;
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul li {
    padding: 0.5em;
    margin: 2em;
}

li a {
    text-decoration: none;
}

footer {
    margin-top: 25px;
}

footer a {
    margin: 5px;
    text-decoration: none;
    color: black;
}